* {
  text-align: center;
  transition: all 0.25s;
  font-family: cursive;
}
.card {
  margin: 10px;
}
.row {
  justify-content: center;
}
.card-body {
  background-color: rgba(129, 161, 180, 0.747);
  height: 28vh;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    80deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(203, 37, 138, 1) 25%,
    rgba(38, 164, 204, 1) 25%,
    rgba(39, 206, 76, 1) 52%,
    rgba(40, 135, 208, 1) 52%,
    rgba(40, 115, 208, 1) 69%,
    rgba(42, 58, 213, 1) 85%,
    rgba(46, 106, 221, 0.9750174190221208) 100%
  );
}
.btn {
  background-color: transtparent !important;
}
